<form [formGroup]="this.form" (ngSubmit) = "AddDocument()">
    <mat-form-field appearance="outline">
        <mat-label>Document Name</mat-label>
        <input matInput placeholder="Document Name" formControlName="DocName">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Document Price</mat-label>
        <input matInput placeholder="Document Price" type="number" formControlName="DocFee">
    </mat-form-field>

<button mat-raised-button color="primary" type="submit">Add</button>

</form>


<span *ngFor="let item of DocumentList">
    <p> {{item.DocName}}</p>
    <br>
    <p>{{item.DocFee}}</p>    
</span>